<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <!-- Your Navbar content -->
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 id="titulo" class="h2 mb-0 ls-tight">Actualizar bodega</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
          <div class="container-fluid">
            <h1 class="h2 mb-4 ls-tight">Datos de la bodega</h1>
            <div *ngIf="vinos.length > 0">
                <!-- Verifica si hay vinos disponibles -->
                <h2>Vinos de la bodega</h2>
                <ul>
                    <li *ngFor="let vino of vinos">
                        <p>Nombre: {{ vino.nombre }}</p>
                        <p>Nota de Cata de la Bodega: {{ vino.nota_de_cata_bodega }}</p>
                        <p>id bodega: {{ vino.id_bodega }}</p>
                        <p>id varietal: {{ vino.id_varietal }}</p>
                        
                        <p>Precio ARS: {{ vino.precio_ars }}</p>
                        <p>año: {{ vino.anio }}</p>
                    </li>
                </ul>
            </div>
            <div *ngIf="vinos.length === 0">
                <!-- Si no hay vinos disponibles -->
                <p>No hay vinos disponibles para esta bodega.</p>
            </div>
        </div>
        
        
        
            <br>
            
        </main>
    </div>
</div>
